<div id="game">
<h4><%= session[:player_name] %>, show me what you got! </h4>

<% if score(session[:player_hand]) == 21 %>
	<% session[:winner] = session[:player_name] %>
<% elsif score(session[:player_hand]) > 21 %>
	<% session[:winner] = "Dealer" %>
<% end %>

<% if session[:mode] == nil %>
	<% session[:dealer_hand][0].hide %>
<% else %>
	<% check_win %>
	<% session[:dealer_hand][0].show %>
<% end %>

<% if session[:winner] == "Dealer" %>
		<% session[:money] -= session[:current_bet] %> 
	<% end %>


<% if session[:winner] != nil %>
	<% if session[:winner] == session[:player_name] %>
		<div class="alert alert-success">
			<h3><strong><%= session[:winner] +" wins the pot of "+(session[:current_bet]*2).to_s+" dollars!" %></strong></h3>
		</div>
		<% session[:money] += session[:current_bet] %>
		<p><strong>Current money:</strong> <%= session[:money] %></p>
		<p><strong>Would you like to continue playing?</strong></p>
		<p><form id="playagain" action = "/bet" method = "get">
  				<input type="submit" class="btn btn-success" value = "Continue playing!">
  			</form>
  			<form action = "/thanks" method = "get">
  				<input type="submit" class="btn btn-success" value = "No thanks">
  			</form>
  		</p>
	<% elsif session[:money] == 0 %>
		<div class="alert alert-success">
			<h3><strong><%= session[:winner] +" wins the pot of "+(session[:current_bet]*2).to_s+" dollars!" %></strong></h3>
		</div>
		<p><strong>Current money:</strong> <%= session[:money] %></p>
		<p>You're out of money!</p>
		<p><form  action = "/start" method = "get">
  				<input type="submit" class="btn btn-success" value = "Start new game?">
  			</form>
  	<% elsif session[:winner] == "Both players" %>
  		<div class="alert alert-success">
			<h3><strong>It's a draw! Both players lose their money.</strong></h3>
		</div>
  		<% session[:money] -= session[:current_bet] %> 
  		<p><strong>Current money:</strong> <%= session[:money] %></p>
  		<p><strong>Would you like to continue playing?</strong></p>
		<p><form id="playagain" action = "/bet" method = "get">
  				<input type="submit" class="btn btn-success" value = "Continue playing!">
  			</form>
  			<form action = "/thanks" method = "get">
  				<input type="submit" class="btn btn-success" value = "No thanks">
  			</form>
  		</p>
 	<% else %>
 		<div class="alert alert-success">
			<h3><strong><%= session[:winner] +" wins the pot of "+(session[:current_bet]*2).to_s+" dollars!" %></strong></h3>
		</div>
 		<p><strong>Current money:</strong> <%= session[:money] %></p>
 		<p><strong>Would you like to continue playing?</strong></p>
		<p><form id="playagain" action = "/bet" method = "get">
  				<input type="submit" class="btn btn-success" value = "Continue playing!">
  			</form>
  			<form action = "/thanks" method = "get">
  				<input type="submit" class="btn btn-success" value = "No thanks">
  			</form>
  		</p>
 	<% end %>


	
<% else %>
	<form id="hit" action = "/game" method = "post">
  		<input type="submit" class="btn btn-success" value = "Hit" id="formWithButtons">
  	</form>
  	<form id="stay" action = "/stay" method = "post">
  		<input type="submit" class="btn btn-warning" value = "Stay" id="formWithButtons">
  	</form>
<% end %>

<strong><p> Player: </p></strong>
<div class = "well">
	<p> <% session[:player_hand].each do |card| %>
      <%= card.show_picture %>
    <% end %> </p>
</div>
<p><strong> Total points:</strong> <%= score(session[:player_hand]) %> </p>
    

<p> <strong>Dealer: </strong></p>
<div class = "well">
<p> <% session[:dealer_hand].each do |card| %>
      <%= card.show_picture %>
    <% end %> </p>
</div>
<% if session[:mode] == nil %>
	<p><strong> Total points:</strong> Unknown </p>
<% else %>
	<p><strong> Total points:</strong> <%= score(session[:dealer_hand]) %> </p> 
<% end %>

<br>
<br>
</div>